*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(./2.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
}
ul{
display: flex;
float: left;
justify-content: center;
align-items: center;
}

ul li{
    list-style: none;
    margin-left: 70px;
    margin-top: 10px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color: rgb(43, 255, 0);
    font-family: arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    font-size: 14px;

}
.holder{
    display: flex;
    justify-content: space-between;
    padding: 10px 34px;
}
.my_form{
    margin-top: 70px;
    background: #000e00;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 30px;
    border-radius: 10px;
}
.my_form:hover{
    transform: scale(1);
}
.link{
    font-size: 24px;
}
.my_form h2{
    font-size: 28px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}
.btn{
    margin-bottom: 30px;
}
.link{
    color: gray;
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 22px;
}
.link a{
    color: green;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
}
.link a:hover{
    text-decoration: underline;
    font-size: 30px;
}
.my_form input{
    height: 25px;
    outline: none;
    border-radius: 8px;
    text-align: center;
}
.my_form button{
    height: 25px;
    background-color: rgb(202, 146, 150);
    border-radius: 8px;
    color: white;
}
.header{
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}
.cn{
    padding: 1px 20px;
    border-radius: 6px;
}

.search{
    margin-right: 50px;

}
